{% extends "base.html" %}
{% block content %}
<div id="header">
	<h1>{{user}}</h1>
	{{ category_header_html | safe }}
</div>
<!--
<div id="sidebar">
	<h2 id="header">{{user}}</h2>
	{{ category_header_html | safe }}
	<div style="display:none;bottom:2rem;left:50px;position: fixed;">
		<button id="screenshot">Screenshot</button>
	</div>
</div>
-->
<div id="main_content">
	<div id="item_content">
		{{ category_html | safe }}
	</div>
</div>
<script>
	var user = "{{user}}";
	var user_data = JSON.parse('{{profile_data | tojson}}');
	var autocomplete = JSON.parse('{{autocomplete_arr | tojson}}');
</script>
{% if condense %}
	<style>
		#cat_item_add {
			padding: 25px 0;
			width: 100%;
		}
		#cat_item_add_autocomplete {
			width: 100%;
			margin: 10px 0;
		}
		#cat_item_add_input, #cat_item_add_song_input {
			width: 300px;
		}
	</style>
{% else %}
	<style>
		#cat_item_add_autocomplete {
			width: 90%;
			margin: 7% 0 5% 5%;
		}
		#add_text {
			padding-top: 50px;
		}
		#cat_item_add_input, #cat_item_add_song_input {
			width: 90%;
		}
	</style>
{% endif %}
{% endblock %}