#header {
	width: 100%;
	font-size: 40px;
	text-align: center;
	padding: 10px 0;
}

#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.shortlist {
	width: 22%; height: 300px;
	text-align: center;
	justify-content: space-evenly; 
	border: 1px solid;
	overflow: auto;
	margin-bottom: 30px;
}

.shortlist .header {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid;
	padding: 10px;
}

.shortlist .title {
	margin-top: 5px;
}

.quote {
	padding-left: 5px;
	padding-top: 5px;
	text-align: left;
}