

#content {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#header {
	width: 100%;
}

#header h1:hover {
	cursor: pointer;
}

.badge {
	display: inline-block;
	width: min-content;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #777;
	border-radius: 10px;
}

#categoryHeaders {
	display: none;
	overflow-x: auto;
	justify-content: space-evenly;
}

#categoryHeaders div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	animation-name: fade-in;
	animation-duration: 2s;
}

#main_content {
	width: 100%; height: 100vh;
	overflow: auto;
	color: black;
	background-color: white;
}

#item_content {
	height: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}